/*Para dispositivos com width menor que 768px*/
body {
    padding-top: 77px;
}
/*Para dispositivos com width 1920px ou menor*/
@media only screen and (max-width: 1920px){
    #img-size {
        width: 100%;
        height: 500px;
    }
}
/*Para dispositivos com width 979px ou menor*/
@media only screen and (max-width: 979px) {
    #img-size {
        width: 100%;
        height: 400px;
    }
}  
/*Para dispositivos com width 767px ou menor*/
@media only screen and (max-width: 767px) {
    #img-size {
        width: 100%;
        height: 300px;
    }
}
/*Para dispositivos com width 480px ou menor*/
@media only screen and (max-width: 480px){
    #img-size {
        width: 100%;
        height: 200px;
    }
}

/*Definindo background do site*/
body{
    background: url(..src/img/BG.png);
    background-attachment: fixed;
    font-family: "trebuchet MS", helvetica, sans-serif;
}
/*Definindo tranparencia a barra de navegação do topo*/
nav.navbar-transparencia{
    background:rgba(255,105,180,0.6);
    padding: 2px 0px;
}

/*Espaçamentos da logo sobre a borda da area do navegador*/
.format_logo {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Definindo propriedade da fonte do menu*/
.format_style_navBar { 
    font-family: "trebuchet MS", helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 20px;    
}
/*Cor do botão de menu*/
li, a {
    padding-top: 0px;
    color: black;
}
/*alinhamento do texto carousel*/
.capa{
    text-align: center;
}
#home{
    padding-top: 180px;
}

.divisor{
    width: 1px;
    background: black;
    margin: 12px 15px;
}

/*
.imagem-carrossel { 
    object-fit: cover;
}*/

/*Style sobre.html*/
.backgroud-sobre {
    background-image: url(../img/BG.png);
}
div, hr{
    border-color:rgba(255,105,180,0.6);
    box-sizing:border-box;
    /*width:100%;*/  
}
/*css utilizado na pagina carousel.html teste*/
.carousel-inner img {
    width: 100%;
}