/*layout*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --button-primary: hsl(330, 97%, 76%);
  --button-secondary: hsl(330, 100%, 86%);
  --bg-third: hsl(326, 81%, 92%);
  --bg-secondary: hsl(326, 80%, 96%);
  --bg-primary: hsl(0, 0%, 97%);
  --title-color: hsl(325, 84%, 20%);
  --text-color: hsl(0, 0%, 7%);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--text-color);
}

p {
  margin: 0;
}

img,
figure {
  width: 100%;
  height: auto;
}

body {
  font-family: var(--ff-primary);
  font-weight: normal;
  font-size: 1.6rem;
  background: var(--bg-secondary);
}

header {
  background: var(--bg-secondary);
}

.navbar-brand > figure {
  max-width: 12rem;
}

.navbar-toggler {
  font-size: 2rem;
  background-color: var(--btn--primary);
  padding: 0.8rem;
  border: none;
}

.navbar-nav {
  gap: 3rem;
}

.nav-item a {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--button-primary);
}

.nav-link:hover {
  filter: brightness(0.9);
}

/* #home {
  height: calc(100vh - 8.2rem);
  background: var(--bg-secondary);
} */

.home-content {
  display: flex;
  align-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-right: 12rem;
}

.home-title h1 {
  font-weight: bold;
  font-size: 5.2rem;
  color: var(--title-color);
}

.home-title p {
  font-size: 1.8rem;
  font-weight: 400;
}

.home-title button {
  display: flex;
  justify-content: center;
  width: 20rem;
  background: var(--button-primary);
  border: 0.1rem solid var(--button-primary);
  border-radius: 0.7rem;
}

.home-title a {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bg-primary);
  padding: 1.5rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.home-title button:hover {
  border: 0.1rem solid var(--button-primary);
  background: var(--bg-secondary);
}

.home-title a:hover {
  color: var(--button-primary);
}

.home-img {
  max-width: 50rem;
  margin-top: 10rem;
}

.home-banner {
  width: 100%;
  max-width: 111rem;
  height: 20rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--bg-third);
  border: 0.1rem solid var(--bg-third);
  border-radius: 0.7rem;
  padding: 1rem 5rem 0;
  bottom: 0;
  position: absolute;
}

.home-banner i {
  font-size: 4.8rem;
  color: var(--title-color);
}

.home-banner p {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--title-color);
  margin-top: 2rem;
}

.home-banner span {
  font-weight: 500;
  text-transform: uppercase;
}

#product {
  margin: 30rem 0;
}

.product-title h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card {
  max-width: 27rem;
  height: auto;
  text-align: center;
  background: var(--bg-third);
  border: 0.2rem solid var(--bg-third);
  border-radius: 0.7rem;
  margin-top: 3rem;
}

.card-img {
  width: 100%;
  height: 30rem;
  background: var(--bg-primary);
  border-radius: 0.7rem;
  margin: 0 auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-body h4 {
  color: var(--title-color);
}

.card-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.card-button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-button button {
  height: 4rem;
  background: var(--button-primary);
  border: 0.1rem solid var(--button-primary);
  border-radius: 0.7rem;
}

.card-button button:hover {
  color: var(--button-primary);
  background: var(--bg-third);
}

.card-button a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--bg-primary);
  cursor: pointer;
  padding: 1rem 2rem;
}

.card-button a:hover {
  color: var(--button-primary);
}

.card-price {
  font-size: 1.8rem;
  font-weight: 700;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--button-primary);
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet-active {
  background: var(--button-primary);
}

/* #products {
  background: white;
  padding: 2rem;
  margin: 0 8rem;
  box-shadow: 1rem 1rem 0.5rem rgb(216, 105, 160);
}

#products .row {
  padding-bottom: 8rem;
}

#products p {
  line-height: 3;
  font-weight: 500;
  font-size: 2rem;
}

#products a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(216, 105, 160);
}

#products a:hover {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(92, 8, 57);
}

#sobre h1 {
  text-align: center;
}

#sobre p {
  line-height: 3;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(92, 8, 57);
}

#form {
  padding: 2rem;
  margin: 8rem;
  background: white;
  box-shadow: 1rem 1rem 0.5rem rgb(216, 105, 160);
}

.btn-custom {
  color: rgb(92, 8, 57);
  border-radius: 50rem;
  background: rgb(216, 105, 160);
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem rgba(92, 8, 57, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.btn-custom:hover {
  color: rgb(92, 8, 57);
  border-radius: 50rem;
  background: rgb(216, 105, 160);
  border: 0.2rem solid rgb(92, 8, 57);
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  box-shadow: 1.2rem 1.5rem 2rem rgba(92, 8, 57, 0.5);
  transition: all 0.3s ease;
}

footer {
  background: rgb(253, 137, 195);
  padding: 5rem 0 2rem 0;
}

footer h4 {
  color: black;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.5);
  font-size: 1rem;
}

footer .navbar-nav a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(92, 8, 57);
}

footer .navbar-nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(119, 9, 73);
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.7);
  transition: all 0.3s ease;
}

footer .rede-social a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(92, 8, 57);
}

footer .rede-social a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(119, 9, 73);
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.7);
  transition: all 0.3s ease;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: right;
  margin: 0 1rem;
}

footer ul i {
  font-size: 8rem;
  color: rgb(92, 8, 57);
} */

/*Media-queries*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .navbar-nav {
    gap: 1rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
