/*layout*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --bg-primary: hsl(330, 100%, 86%);
  --bg-secondary: hsl(330, 97%, 76%);
  --btn--primary: hsl(325, 84%, 20%);
  --text-link: hsl(255, 255%, 255%);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

a {
  list-style: none;
  color: var(--text-link);
}

body {
  font-family: var(--ff-primary);
  font-weight: normal;
  font-size: 1.6rem;
  /* background: var(--bg-primary); */
}

header {
  background: var(--bg-secondary);
}

.navbar-brand > figure {
  max-width: 12rem;
}

.navbar-toggler {
  font-size: 2rem;
  background-color: var(--btn--primary);
  padding: 0.8rem;
  border: none;
}

.navbar-nav {
  gap: 3rem;
}

.nav-item a {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--text-link);
}

.nav-link:hover {
  color: var(--btn--primary);
}

#home {
  height: calc(100vh - 8.2rem);
}

/*Tipografia*/

h1 {
  font-weight: 900;
  letter-spacing: -0.05rem;
  margin-bottom: 5rem;
  color: hsl(325, 84%, 20%);
  font-size: 6.4rem;
}

h6 {
  color: rgb(216, 105, 160);
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -0.04rem;
}

/*Estrutura de conteúdos*/

#products {
  background: white;
  padding: 2rem;
  margin: 0 8rem;
  box-shadow: 1rem 1rem 0.5rem rgb(216, 105, 160);
}

#products .row {
  padding-bottom: 8rem;
}

#products p {
  line-height: 3;
  font-weight: 500;
  font-size: 2rem;
}

#products a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(216, 105, 160);
}

#products a:hover {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(92, 8, 57);
}

#sobre h1 {
  text-align: center;
}

#sobre p {
  line-height: 3;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.5rem rgb(92, 8, 57);
}

/*Formulário*/

#form {
  padding: 2rem;
  margin: 8rem;
  background: white;
  box-shadow: 1rem 1rem 0.5rem rgb(216, 105, 160);
}

.btn-custom {
  color: rgb(92, 8, 57);
  border-radius: 50rem;
  background: rgb(216, 105, 160);
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem rgba(92, 8, 57, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.btn-custom:hover {
  color: rgb(92, 8, 57);
  border-radius: 50rem;
  background: rgb(216, 105, 160);
  border: 0.2rem solid rgb(92, 8, 57);
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  box-shadow: 1.2rem 1.5rem 2rem rgba(92, 8, 57, 0.5);
  transition: all 0.3s ease;
}

/*Rodapé*/

footer {
  background: rgb(253, 137, 195);
  padding: 5rem 0 2rem 0;
}

footer h4 {
  color: black;
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.5);
  font-size: 1rem;
}

footer .navbar-nav a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(92, 8, 57);
}

footer .navbar-nav a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(119, 9, 73);
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.7);
  transition: all 0.3s ease;
}

footer .rede-social a {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(92, 8, 57);
}

footer .rede-social a:hover {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(119, 9, 73);
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(92, 8, 57, 0.7);
  transition: all 0.3s ease;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: right;
  margin: 0 1rem;
}

footer ul i {
  font-size: 8rem;
  color: rgb(92, 8, 57);
}

/*Media-queries*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .navbar-nav {
    gap: 1rem;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
